body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

button {
  outline: none;
}

#header .container {
  padding: 0px 20px;
}
#header .headerSearch {
  padding: 10px 0;
}
#header .headerSearch input {
  border: none;
  outline: none;
}
#header .headerPhone {
  padding-left: 20px;
}
@media screen and (min-width: 767px) {
  #header .headerPhone {
    float: right;
  }
}
@media screen and (max-width: 767px) {
  #header .headerPhone {
    float: left;
  }
}
@media screen and (max-width: 330px) {
  #header .headerPhone a {
    font-size: 11px;
  }
}
#header .headerPhone a {
  color: #606473;
}
#header .headerPhone a:hover {
  text-decoration: none;
  color: #53B778;
}
#header .headerPhone img {
  padding: 0 20px;
}
#header .navbarSection {
  width: 100%;
  padding: 30px 0;
}
@media screen and (min-width: 767px) {
  #header .navbarSection #listBtn {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #header .navbarSection #listBtn {
    background: white;
  }
}
@media screen and (max-width: 767px) {
  #header .navbarSection {
    padding-bottom: 0px;
    padding-top: 10px;
  }
}
@media screen and (min-width: 200px) and (max-width: 314px) {
  #header .navbarSection img {
    padding: 8px;
  }
  #header .navbarSection #listBtn {
    font-size: 25px;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  #header .navbarSection img {
    padding: 8px 0;
  }
}
@media screen and (min-width: 314px) and (max-width: 767px) {
  #header .navbarSection img {
    padding: 8px 20px;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  #header .navbarSection ul li {
    font-size: 0.9em;
    padding-left: 15px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #header .navbarSection ul li {
    padding-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  #header .navbarSection ul li {
    padding-left: 31px;
  }
}
@media screen and (min-width: 767px) {
  #header .navbarSection ul {
    height: 80px;
  }
  #header .navbarSection ul li {
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) {
  #header .navbarSection ul li {
    font-size: 18px;
  }
}
#header .navbarSection .navbar-header span {
  font-size: 30px;
  font-weight: 900;
  padding: 20px;
}
#header .navbarSection .navPage {
  position: relative;
}
#header .navbarSection .navPage .innernavPage {
  display: inline-block;
  cursor: pointer;
}
#header .navbarSection .navPage .innernavPage a {
  padding: 15px 0 10px 0;
  border-bottom: 0px solid #53B778;
  color: #606473;
  transition: all 0.3s ease;
  background: white;
}
#header .navbarSection .navPage .innernavPage a:hover {
  background: none;
  color: #7D7D7D;
  border-bottom: 2px solid #53B778;
}
#header .navbarSection .navPage .innernavPage button {
  padding: 10px;
  background: #53B778;
  color: white;
  border: 2px solid #53B778;
  transition: all 0.3s ease;
}
#header .navbarSection .navPage .innernavPage button:hover {
  background: white;
  color: #53B778;
  border: 2px solid #53B778;
}
#header .navbarSection #serDropNav {
  position: absolute;
  width: 320px;
  height: 276px;
  list-style: none;
  background: white;
  z-index: 10;
  top: 50px;
  padding: 34px 25px;
}
#header .navbarSection #serDropNav li {
  padding: 5px;
}
#header .navbarSection #serDropNav li:hover {
  color: #53B778;
}
#header .navbarSection #serDropNav li a {
  font-size: 14px;
  color: #606060;
  padding-left: 25px;
  text-decoration: none;
}
#header .navbarSection #serDropNav li a:hover {
  color: #53B778;
}
#header .navbarSection #serDropNav li span {
  font-size: 16px;
}
#header #serDropNav2 {
  position: relative;
  width: 320px;
  height: 240px;
  list-style: none;
  background: white;
  padding: 34px 0px;
}
@media screen and (min-width: 767px) {
  #header #serDropNav2 {
    display: none;
  }
}
#header #serDropNav2 li {
  padding: 5px;
}
#header #serDropNav2 li:hover {
  color: #53B778;
}
#header #serDropNav2 li a {
  font-size: 14px;
  color: #606060;
  padding-left: 25px;
  text-decoration: none;
}
#header #serDropNav2 li a:hover {
  color: #53B778;
}
#header #serDropNav2 li span {
  font-size: 16px;
}
#header .dropBtn ul {
  background: white;
}
#header .dropBtn ul li a {
  padding: 10px 0 10px 20px;
  color: #606473;
  transition: all 0.3s ease;
  border-bottom: 1px solid #53B778;
}
#header .dropBtn ul li a:hover {
  background: #53B778;
  color: white;
}
#header .dropBtn ul li button {
  padding: 10px;
  background: #53B778;
  color: white;
  border: 2px solid #53B778;
  transition: all 0.3s ease;
  margin-top: 20px;
}
#header .dropBtn ul li button:hover {
  background: white;
  color: #53B778;
  border: 2px solid #53B778;
}

#sign {
  width: 100%;
  position: relative;
  background: #323a45;
  padding: 40px 0;
}
#sign .topBtn {
  width: 50px;
  height: 50px;
  background: white;
  position: absolute;
  top: -25px;
  left: 49%;
  box-shadow: 0px 0px 7px lightgray;
  border-radius: 50%;
}
#sign .topBtn:hover {
  text-decoration: none;
}
#sign .topBtn span {
  line-height: 50px;
}
#sign .container h2 {
  color: white;
  margin-bottom: 40px;
}
#sign .container input {
  width: 90%;
  height: 40px;
  outline: none;
  border: none;
  padding-left: 8px;
}
#sign .container .col-md-4 div {
  padding: 5px;
  background: white;
  margin-bottom: 20px;
}
#sign .container .col-md-4 div input {
  width: 90%;
  height: 40px;
  outline: none;
  border: none;
  padding-left: 8px;
}
#sign .container .col-md-4 div span {
  font-size: 17px;
}
#sign .container .col-md-4 .signBtn {
  width: 100%;
  height: 50px;
  background: #53B778;
  border: 2px solid #53B778;
  outline: none;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}
#sign .container .col-md-4 .signBtn:hover {
  background: none;
  color: #53B778;
}
#sign h4 {
  margin-top: 40px;
}

#footer {
  width: 100%;
  padding: 50px 0;
  background: #EAEAEA;
}
#footer img {
  padding: 10px 0;
}
#footer h4 {
  color: #787878;
}
#footer ul {
  padding: 0;
}
#footer ul li {
  list-style-type: none;
  line-height: 30px;
  color: #B6B6B6;
}
#footer ul li a {
  color: #B6B6B6;
}
#footer ul li a:hover {
  text-decoration: none;
  color: #53B778;
}
#footer .socialIcon li a {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background: lightgray;
  border-radius: 50px;
  float: left;
  color: white;
  font-size: 1.2em;
  transition: all 0.3s ease;
}
#footer .socialIcon li a:hover {
  color: white;
  background: #53B778;
}

#banner {
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  transition: all .9s ease;
  height: 500px;
  transition: all 0.3s ease;
}
#banner:hover .leftdown {
  visibility: visible;
  opacity: 1;
}
#banner:hover .rightdown {
  visibility: visible;
  opacity: 1;
}
#banner .leftdown {
  color: white;
  position: relative;
  top: 200px;
  left: 20px;
  font-size: 60px;
  font-weight: 100;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.9s, opacity 0.9s linear;
}
#banner .rightdown {
  color: white;
  position: relative;
  top: 200px;
  right: 20px;
  font-size: 60px;
  font-weight: 100;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.9s, opacity 0.9s linear;
}
#banner img {
  transition: all 9s ease;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 500px;
}
#banner .slideRow2 {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}
#banner .banner-txt {
  margin-top: 100px;
  margin-left: 4%;
}
#banner .banner-txt h1 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 30px;
  color: white;
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  #banner .banner-txt h1 {
    font-size: 60px;
  }
}
#banner .banner-txt h2 {
  font-weight: 600;
  margin-bottom: 30px;
  color: silver;
}
#banner .banner-txt .buttons {
  width: 100%;
}
#banner .banner-txt .process {
  background: #53B778;
  border: 2px solid #53b778;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  transition: all 0.3s ease;
  line-height: 45px;
  outline: none;
  color: white;
}
#banner .banner-txt .process:hover {
  background: #53b769;
}
#banner .banner-txt .processbtn {
  color: white;
  margin-right: 10px;
  background: none;
  border: 2px solid #53b778;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease;
  line-height: 45px;
  outline: none;
}
#banner .banner-txt .processbtn:hover {
  background: #53B778;
}
@media screen and (min-width: 767px) and (max-width: 1200px) {
  #banner .banner-txt h1 {
    font-size: 38px;
  }
}
@media screen and (min-width: 0px) and (max-width: 613px) {
  #banner .banner-txt h1 {
    font-size: 30px;
  }
  #banner .banner-txt button {
    width: 100%;
  }
}

#client {
  background: silver;
}
#client .clientRow {
  background: silver;
  overflow: hidden;
}
#client .clientRow .clientItem {
  width: 1700px;
  height: 100px;
  background: silver;
  position: relative;
  left: -190px;
  transition: all 0.3s ease;
}
#client .clientRow .uls {
  width: 1380px;
  height: 100px;
  background: silver;
  list-style: none;
  float: left;
  position: absolute;
  left: 190px;
  transition: all 0.3s ease;
}
#client .clientRow ul {
  padding-left: 0;
  transition: all 0.3s ease;
}
#client .clientRow ul li {
  display: inline-block;
  padding: 30px 30px;
  transition: all 0.3s ease;
}

#provide {
  padding: 85px 0 0;
}
#provide h2 {
  font-weight: 600;
  font-size: 30px;
  color: #53B778;
}
#provide hr {
  height: 2px;
}
#provide .provideItem {
  border-bottom: 2px solid #53B778;
  padding: 30px 10px 30px 30px;
  margin: 30px 0;
}
#provide .provideItem .itembox a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  transition: all 0.3s ease;
}
#provide .provideItem .itembox a:hover {
  color: #53B778;
}
#provide .provideItem .itembox a span {
  font-size: 68px;
}
#provide .provideItem .itembox a h3 {
  font-weight: 600;
}
#provide .provideItem .itembox p {
  font-size: 16px;
  color: #606060;
  line-height: 26px;
}
#provide .margins {
  margin-bottom: 50px;
}
#provide .impressiveGallery {
  overflow: hidden;
  position: relative;
  margin: 15px 0;
}
@media screen and (min-width: 767px) and (max-width: 993px) {
  #provide .impressiveGallery {
    margin: 7px 0;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  #provide .impressiveGallery {
    margin: 11px 0;
  }
}
#provide .impressiveGallery img {
  width: 100%;
  height: 100%;
}
#provide .impressiveGallery .impre-overlay {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
  padding-top: 26%;
  -webkit-transform: scale(0);
}
#provide .impressiveGallery .impre-overlay .impre-text {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  color: white;
}
@media screen and (max-width: 500px) {
  #provide .impressiveGallery .impre-overlay .impre-text {
    padding: 5px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  #provide .impressiveGallery .impre-overlay .impre-text button {
    max-width: 100px;
    width: 100%;
  }
  #provide .impressiveGallery .impre-overlay .impre-text h3 {
    margin-top: 5px;
  }
}
@media screen and (min-width: 767px) and (max-width: 993px) {
  #provide .impressiveGallery .impre-overlay .impre-text h3 {
    margin-top: 5px;
    font-size: 1em;
  }
}
@media screen and (max-width: 500px) {
  #provide .impressiveGallery .impre-overlay .impre-text h3 {
    margin-top: 2px;
    font-size: 17px;
  }
}
#provide .impressiveGallery .impre-overlay .impre-text button {
  background: none;
  color: white;
  border: 2px solid #53B778;
  transition: all 0.3s ease;
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
@media screen and (min-width: 993px) {
  #provide .impressiveGallery .impre-overlay .impre-text button {
    padding: 15px 15px;
    max-width: 150px;
    width: 100%;
  }
}
@media screen and (min-width: 767px) and (max-width: 993px) {
  #provide .impressiveGallery .impre-overlay .impre-text button {
    padding: 5px 3px;
    max-width: 100px;
    width: 100%;
    height: 35px;
  }
}
@media screen and (max-width: 500px) {
  #provide .impressiveGallery .impre-overlay .impre-text button {
    padding: 2px 8px;
    max-width: 100px;
    width: 100%;
  }
}
#provide .impressiveGallery .impre-overlay .impre-text button:hover {
  background: #53B778;
  color: white;
  border: 2px solid #53B778;
}
#provide .impressiveGallery:hover .impre-overlay {
  -webkit-transform: scale(1);
}
#provide button {
  margin: 80px 0 80px 0;
  width: 35%;
  height: 50px;
  background: #53B778;
  color: white;
  border: 2px solid #53B778;
  transition: all 0.3s ease;
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
#provide button:hover {
  background: white;
  color: #53B778;
  border: 2px solid #53B778;
}

#case {
  overflow: hidden;
  position: relative;
}
#case .caseStudent {
  position: relative;
  left: 0px;
}
#case .caseStudent img {
  float: left;
}
#case .caseStudent .carusel {
  position: absolute;
}
#case .caseStudent .carusel h2 {
  color: white;
  top: 80px;
  left: 5%;
}
#case .caseStudent .carusel p {
  color: white;
  top: 150px;
  left: 5%;
}
#case .caseStudent .carusel i {
  color: white;
  top: 250px;
  left: 5%;
}

#btnSection .firstul {
  position: relative;
  top: -40px;
}
#btnSection .firstul li {
  display: inline-block;
  width: 150px;
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  #btnSection .firstul li {
    width: 120px;
  }
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  #btnSection .firstul li {
    width: 100px;
  }
}
@media screen and (min-width: 100px) and (max-width: 400px) {
  #btnSection .firstul li {
    width: 60px;
  }
}
#btnSection .firstul li img {
  border-radius: 50%;
  border: 3px solid white;
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  #btnSection .firstul li img {
    width: 80px;
  }
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  #btnSection .firstul li img {
    width: 80px;
  }
}
@media screen and (min-width: 100px) and (max-width: 400px) {
  #btnSection .firstul li img {
    width: 50px;
  }
}
#btnSection .secondul {
  position: relative;
  top: -40px;
}
#btnSection .secondul li {
  display: inline-block;
  width: 150px;
  text-align: center;
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  #btnSection .secondul li {
    width: 120px;
  }
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  #btnSection .secondul li {
    width: 100px;
  }
}
@media screen and (min-width: 100px) and (max-width: 400px) {
  #btnSection .secondul li {
    width: 60px;
  }
}
#btnSection .secondul li img {
  filter: grayscale(100%);
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  #btnSection .secondul li img {
    width: 60px;
  }
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  #btnSection .secondul li img {
    width: 60px;
  }
}
@media screen and (min-width: 100px) and (max-width: 400px) {
  #btnSection .secondul li img {
    width: 30px;
  }
}

#branding {
  width: 100%;
  overflow: hidden;
}
#branding .container h2 {
  color: #53b778;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  padding: 85px 0 0;
}
#branding .container hr {
  width: 100%;
  border: none;
  height: 1px;
  background: url(../image/line.png) repeat-x left center;
  margin: 15px 0;
}
#branding .container .row {
  margin-bottom: 50px;
}
#branding .container .row h3 {
  margin: 45px 0 25px 0;
  color: #323a45;
  font-weight: bold;
}
#branding .container .row p {
  font-size: 16px;
  color: #8B8B8B;
}
#branding .container .row ul {
  margin: 35px 0px 35px;
  padding-left: 5px;
  color: #8B8B8B;
}
#branding .container .row ul li {
  font-size: 16px;
  line-height: 48px;
  list-style: none;
}
#branding .container .row ul li span {
  font-size: 30px;
  margin-right: 12px;
  top: 5px;
  position: relative;
}
#branding .custom-form {
  border-top: 3px solid #323a45;
  margin: 45px auto 0;
  width: 100%;
}
#branding .custom-form .formWrapper {
  padding-left: 30px;
  padding-right: 30px;
}
#branding .custom-form h3 {
  font-size: 24px;
  line-height: 30px;
}
#branding .custom-form .formgroup {
  position: relative;
  margin-bottom: 0;
  color: #323a45;
  padding: 8px 0;
}
#branding .custom-form .formgroup span {
  font-size: 16px;
  position: absolute;
  top: 22px;
  left: 0;
  color: #606060;
}
#branding .custom-form .formgroup input {
  height: 50px;
  border: medium none;
  width: 100%;
  overflow: hidden;
  height: 44px;
  padding: 10px 25px;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 2px solid #d5d5d5;
}
#branding .custom-form .formgroup textarea {
  height: 90px;
  width: 100%;
  border: medium none;
  border-bottom: 2px solid #d5d5d5;
  padding: 10px 25px;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  resize: none;
}
#branding .btnForm {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  background: #53B778;
  color: white;
  border: 2px solid #53B778;
  transition: all 0.3s ease;
  font-size: 15px;
  font-weight: bold;
}
#branding .btnForm:hover {
  background: none;
}
#branding .btnForm:hover span, #branding .btnForm:hover i {
  color: #53B778;
}

#Success {
  background: url(../image/success.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#Success .successRow {
  padding-top: 25px;
  overflow: hidden;
}
#Success .successRow h2 {
  color: white;
  font-weight: bold;
}
#Success .successRow ul {
  padding: 15px;
}
#Success .successRow ul li {
  list-style: none;
  font-size: 50px;
  color: white;
  display: inline-block;
  padding: 0px 0px;
}
#Success .successRow ul li p {
  color: #53B778;
  font-size: 36px;
  font-weight: normal;
  line-height: 30px;
}
#Success .successRow ul li span {
  border-right: 1px solid white;
  padding-right: 20px;
}
#Success .successRow ul li h5 {
  font-weight: 600;
}

#featured {
  padding: 85px 0 0;
}
#featured h2 {
  color: #53b778;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}
#featured hr {
  width: 100%;
  border: none;
  height: 1px;
  margin: 15px 0;
}
#featured .featured-img {
  position: relative;
  margin-bottom: 30px;
}
#featured .featured-img .feat-overlay {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
  padding-top: 26%;
  -webkit-transform: scale(0);
}
#featured .featured-img .text-inner {
  position: absolute;
  top: 42%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: 1;
}
#featured .featured-img .text-inner a {
  text-decoration: none;
  background: transparent;
  line-height: 18px;
  height: 44px;
  border-radius: 0;
  padding: 10px 15px;
  border: 2px solid #53b778;
  font-size: 13px;
  color: white;
  cursor: pointer;
}
#featured .featured-img .text-inner a:hover {
  background: #53b778;
  color: white;
  border: 2px solid #53b778;
}
#featured .featured-img:hover .feat-overlay {
  -webkit-transform: scale(1);
}
#featured .featured-img img {
  width: 100%;
}
#featured .discBtn {
  background: #53b778;
  border-color: #53b778;
  display: block;
  margin: 40px auto;
  max-width: 360px;
  width: 100%;
  height: 50px;
  padding: 5px 20px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  line-height: 40px;
}
#featured .discBtn:hover {
  background: white;
  color: #53b778;
  border: 2px solid #53b778;
}

#latest {
  padding: 85px 0 0;
}
#latest h2 {
  color: #53b778;
  font-weight: bold;
}
#latest hr {
  height: 2px;
  margin-bottom: 30px;
}
#latest .imgfeatured1 {
  position: relative;
  width: 100%;
}
#latest .imgfeatured {
  position: relative;
  z-index: 1;
  top: 80px;
}
#latest .blog {
  width: 100%;
}
#latest .boxBorder {
  border-bottom: none;
  padding: 40px 10px 40px 30px;
  min-height: auto;
  background: #f5f6f7;
}
#latest .boxBorder span {
  color: #9d9d9d;
  font-size: 14px;
  line-height: 22px;
}
#latest .boxBorder a {
  margin: 13px 0 16px;
  font-size: 24px;
  display: block;
  color: #323a45;
  font-weight: 600;
  text-decoration: none;
  transition: all .5s;
}
#latest .boxBorder a:hover {
  color: #53B778;
}
#latest .boxBorder p {
  font-size: 16px;
  color: #606060;
  line-height: 26px;
}
#latest .boxingborder {
  margin-bottom: 45px;
  padding: 70px 10px 24px 30px;
  border-bottom: 2px solid #53b778;
}
#latest .boxingborder span {
  color: #9d9d9d;
  font-size: 14px;
  line-height: 22px;
}
#latest .boxingborder a {
  margin: 13px 0 16px;
  font-size: 24px;
  display: block;
  color: #323a45;
  font-weight: 600;
}
#latest .boxingborder p {
  font-size: 16px;
  color: #606060;
  line-height: 26px;
}

#quoteBox {
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  transition: all 0.3s ease;
  display: none;
}
#quoteBox .quoteBoxItem {
  margin: 30px auto;
  width: 70%;
  padding: 10px 30px;
  border: 1px solid lightgray;
}
#quoteBox .quoteBoxItem .closeBtn {
  font-size: 2em;
  color: lightgray;
}
#quoteBox .quoteBoxItem .custom-form {
  margin: 25px auto 0;
  width: 100%;
}
#quoteBox .quoteBoxItem .custom-form .formWrapper {
  padding-left: 30px;
  padding-right: 30px;
}
#quoteBox .quoteBoxItem .custom-form h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 15px;
}
#quoteBox .quoteBoxItem .custom-form .formgroup {
  position: relative;
  margin-bottom: 0;
  color: #323a45;
  padding: 8px 0;
}
#quoteBox .quoteBoxItem .custom-form .formgroup span {
  font-size: 16px;
  position: absolute;
  top: 22px;
  left: 0;
  color: #606060;
}
#quoteBox .quoteBoxItem .custom-form .formgroup input {
  height: 50px;
  border: medium none;
  width: 100%;
  overflow: hidden;
  height: 44px;
  padding: 10px 25px;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 2px solid #d5d5d5;
}
#quoteBox .quoteBoxItem .custom-form .formgroup textarea {
  height: 90px;
  width: 100%;
  border: medium none;
  border-bottom: 2px solid #d5d5d5;
  padding: 10px 25px;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  resize: none;
}
#quoteBox .quoteBoxItem .btnForm {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  background: #53B778;
  color: white;
  border: 2px solid #53B778;
  transition: all 0.3s ease;
  font-size: 15px;
  font-weight: bold;
}
#quoteBox .quoteBoxItem .btnForm:hover {
  background: none;
}
#quoteBox .quoteBoxItem .btnForm:hover span, #quoteBox .quoteBoxItem .btnForm:hover i {
  color: #53B778;
}
#quoteBox .quoteBoxItem .formContact h3 {
  font-weight: bold;
  color: #323A45;
  border-bottom: 2px solid #53B778;
  padding-bottom: 15px;
  letter-spacing: 1px;
}
#quoteBox .quoteBoxItem .formContact ul {
  list-style: none;
  padding: 0;
}
#quoteBox .quoteBoxItem .formContact ul li {
  padding-top: 10px;
}
#quoteBox .quoteBoxItem .formContact ul li span {
  vertical-align: top;
}
#quoteBox .quoteBoxItem .formContact ul li div {
  width: 85%;
  display: inline-block;
}
#quoteBox .quoteBoxItem .formContact ul li div h4 {
  color: gray;
  margin: 0;
  font-size: 1.15em;
  line-height: 25px;
}
#quoteBox .quoteBoxItem .md4Box {
  border: 1px solid lightgray;
  padding: 20px 22px;
  margin-bottom: 15px;
}
#quoteBox .quoteBoxItem .md4Box span {
  font-size: 36px;
  display: inline-block;
  padding-right: 25px;
  border-right: 1px solid #d5d5d5;
  color: #53b778;
  line-height: 50px;
  margin-bottom: 5px;
}
#quoteBox .quoteBoxItem .md4Box div {
  display: inline-block;
  margin-left: 21px;
}
#quoteBox .quoteBoxItem .md4Box h6 {
  font-size: 24px;
  font-weight: 600;
  color: #606060;
  margin: 0;
}
@media screen and (max-width: 767px) {
  #quoteBox .quoteBoxItem .md4Box h6 {
    font-size: 20px;
  }
}
#quoteBox .quoteBoxItem .md4Box p {
  font-size: 16px;
  color: #606060;
  line-height: 26px;
}
@media screen and (max-width: 767px) {
  #quoteBox .quoteBoxItem .md4Box p {
    font-size: 14px;
  }
}
#quoteBox .quoteBoxItem .md4Box ul {
  padding: 0;
  margin: 14px 0px;
}
#quoteBox .quoteBoxItem .md4Box ul li {
  list-style: none;
  display: inline-block;
  border-radius: 50%;
  background: lightgray;
  padding: 8px 11px;
  margin-right: 8px;
  cursor: pointer;
}
#quoteBox .quoteBoxItem .md4Box ul li:hover {
  background: #53B778;
}
#quoteBox .quoteBoxItem .md4Box ul li a i {
  color: white;
  font-size: 22px;
}
#quoteBox .quoteBoxItem .md4Box ul li a .fa-facebook {
  padding: 0px 3px;
}

#scrollBtn {
  text-align: center;
}
#scrollBtn .topBtn {
  padding: 15px 15px 15px 15px;
  background: white;
  box-shadow: 0px 0px 7px lightgrey;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  top: 25px;
}
#scrollBtn .topBtn:hover {
  text-decoration: none;
}
#scrollBtn .topBtn span {
  line-height: 50px;
}

#featuredBoxs {
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  transition: all 0.3s ease;
  display: none;
}
#featuredBoxs .featuredBoxItem {
  margin: 60px auto;
  padding: 30px 30px;
  border: 1px solid lightgray;
}
#featuredBoxs .featuredBoxItem .closeBtn {
  font-size: 2em;
  color: lightgray;
}
#featuredBoxs .featuredBoxItem h4 {
  color: gray;
  margin: 0;
  font-size: 1.15em;
  line-height: 25px;
}
#featuredBoxs .featuredBoxItem .slider {
  position: relative;
  padding: 15px 0;
  overflow: hidden;
  height: 600px;
}
#featuredBoxs .featuredBoxItem .slider .slideLent {
  position: absolute;
  left: 0;
  width: 300%;
  overflow: hidden;
}
#featuredBoxs .featuredBoxItem .slider .slideLent img {
  width: 33.33%;
  float: left;
}
#featuredBoxs .featuredBoxItem .col-md-4 {
  overflow: hidden;
}
#featuredBoxs .featuredBoxItem .col-md-4 img {
  width: 100%;
}
#featuredBoxs .featuredBoxItem .formContact {
  padding-top: 10px;
}
#featuredBoxs .featuredBoxItem .formContact h3 {
  font-weight: bold;
  color: #53B778;
  padding-bottom: 15px;
  letter-spacing: 1px;
}
#featuredBoxs .featuredBoxItem .formContact ul {
  list-style: none;
  padding: 0;
}
#featuredBoxs .featuredBoxItem .formContact ul li {
  padding-top: 10px;
}
#featuredBoxs .featuredBoxItem .formContact ul li span {
  vertical-align: top;
}
#featuredBoxs .featuredBoxItem .formContact ul li div {
  width: 85%;
  display: inline-block;
}
#featuredBoxs .featuredBoxItem .formContact ul li div h4 {
  color: gray;
  margin: 0;
  font-size: 1.15em;
  line-height: 25px;
}
#featuredBoxs .featuredBoxItem .btnForm {
  padding: 20px;
  margin-top: 30px;
  background: #53B778;
  color: white;
  border: 2px solid #53B778;
  transition: all 0.3s ease;
  font-size: 15px;
  font-weight: bold;
}
#featuredBoxs .featuredBoxItem .btnForm:hover {
  background: none;
}
#featuredBoxs .featuredBoxItem .btnForm:hover span, #featuredBoxs .featuredBoxItem .btnForm:hover i {
  color: #53B778;
}
