$myWidthHeight: 100%;
$myColor: #53B778;
$transition: all .3s ease;

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;

}
button{
	outline:none;
}
a{
	cursor:pointer;
}

#header {
	.container {
		padding: 0px 20px;
	}
	.headerSearch {
		padding: 10px 0;


		input {
			border: none;
			outline: none;
		}

	}

	.headerPhone {
		padding-left: 20px;

		@media screen and (min-width: 767px){
   			 	float: right;
		}

		@media screen and (max-width: 767px){
   			 	float: left;
		}
		@media screen and (max-width: 330px){
			a{
				font-size: 11px;
			}
		}

		a {
			color: #606473;
			&:hover {
				text-decoration: none;
				color: $myColor;
			}
		}

		img {
			padding: 0 20px;
			}
	
	}

	.navbarSection {
			#listBtn{
				@media screen and (min-width: 767px){
				display: none;
			}
			@media screen and (max-width: 767px){
				background:white;
			}
			}
		@media screen and (max-width: 767px) {
			padding-bottom: 0px;
			padding-top: 10px;
		}
			@media screen and (min-width:200px) and (max-width: 314px) {
				img{
					padding:8px;
				}
				#listBtn{
					font-size: 25px;
				}
		}
		img {
			@media screen and (min-width: 767px) and (max-width: 992px){
				padding: 8px 0;
		}
			@media screen and (min-width: 314px)and (max-width: 767px){
				padding: 8px 20px;
			}
		}
		@media screen and (min-width: 767px) and (max-width: 992px){
			ul li {
				font-size: 0.9em;
				padding-left: 15px;
			}
		}
		@media screen and (min-width: 992px) and (max-width: 1200px){
			ul li {
				padding-left: 30px;
			}
		}
		@media screen and (min-width: 1200px){
			ul li {
				padding-left: 31px;

			}	
		}
		@media screen and (min-width: 767px){
			ul {
				height: 80px;
				li{
					font-size: 15px;
				}	
			}
		}
		@media screen and (min-width: 1200px){
			ul li{
				font-size: 18px;
			}
		}
		.navbar-header{
			span{
				font-size: 30px;
				font-weight: 900;
				padding:20px;
			}
		
		}
		width: $myWidthHeight;
		padding: 30px 0;
		.aktive{
			border-bottom: 2px solid $myColor;
		}
		.navPage{
			position:relative;
			.innernavPage {
				display: inline-block;
				cursor: pointer;
				a {
					padding: 15px 0 10px 0;
					border-bottom: 0px solid $myColor;
					color: #606473;
					transition: $transition;
					background:white;

					&:hover {
						background: none;
						color: #7D7D7D;
						border-bottom: 2px solid $myColor;
					}
				}

				button {
					padding: 10px;
					background: $myColor;
					color: white;
					border: 2px solid $myColor;
					transition: $transition;


					&:hover {
						background: white;
						color: $myColor;
						border: 2px solid $myColor;
					}
				}
			}
		}
		#serDropNav {
			position:absolute;
			width: 320px;
			height: 276px;
			list-style:none;
			background:white;
			z-index: 10;
		    top: 50px;
			padding: 34px 25px;
				li{
				    padding: 5px;
					&:hover {
				    	color: $myColor;
				    }
					a{
    					font-size: 14px;
    					color: #606060;
    					padding-left: 25px;
    					text-decoration: none;
						&:hover {
				    	color: $myColor;
				    }
					}
					span {
					    font-size: 16px;
					}
				}
			}
	}

	#serDropNav2 {
			 	position: relative;
    			width: 320px;
			    height: 240px;
			    list-style: none;
			    background: white;
			    padding: 34px 0px;
						li{
						    padding: 5px;
						    &:hover {
				    			color: $myColor;
				   			 }
							a{
		    					font-size: 14px;
		    					color: #606060;
		    					padding-left: 25px;
		    					text-decoration: none;
								&:hover {
				    				color: $myColor;
				    			}
							}
							span {
							    font-size: 16px;
							}
						}		
				
			}
	.dropBtn {
		ul {
			background:white;
			li {
				a {
					padding: 10px 0 10px 20px;
					color: #606473;
					transition: $transition;
					border-bottom: 1px solid $myColor;

					&:hover {
						background: $myColor;
						color: white;
					}
				}

				button {
					padding: 10px;
					background: $myColor;
					color: white;
					border: 2px solid $myColor;
					transition: $transition;
					margin-top: 20px;


					&:hover {
						background: white;
						color: $myColor;
						border: 2px solid $myColor;
					}
				}
			}
		}

	}
	
}

#quoteBox {
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,1);
	position: absolute;
	top:0;
	left:0;
	z-index: 11;
	transition: $transition;
	display: none;

	.quoteBoxItem{	
	margin: 30px auto;
	width: 70%;
	padding: 10px 30px;
	border: 1px solid lightgray;
		.closeBtn {
					font-size: 2em;
					color: lightgray;
				}

	.custom-form{
	    margin: 25px auto 0;
	    width: 100%;
		    .formWrapper{
		    padding-left: 30px;
		    padding-right: 30px;
		    }
		    h3{
		    font-weight: bold;
		   	font-size: 24px;
    		line-height: 15px;
		    }
		    .formgroup{
				position: relative;
			    margin-bottom: 0;
			    color: #323a45;
			    padding: 8px 0;
			    
			    span{
			    	font-size: 16px;
			    	position: absolute;
				    top: 22px;
				    left: 0;
				    color: #606060;
			    }
			    input{
			    	height: 50px;
			    	border: medium none;
				    width: 100%;
				    overflow: hidden;
				    height: 44px;
				    padding: 10px 25px;
				    box-shadow:none;
				    border-radius:0;
				    border-bottom: 2px solid #d5d5d5;
			    }
			    textarea{
			    	height: 90px;
			    	width: 100%;
			    	border: medium none;
			    	border-bottom: 2px solid #d5d5d5;
			    	padding: 10px 25px;
			    	box-shadow:none;
			    	border-radius:0;
			    	outline: none;
			    	resize: none;

			    }
		    }
		}
		.btnForm{
			width: $myWidthHeight;
			padding: 10px;
			margin-top: 30px;
			background: $myColor;
			color: white;
			border: 2px solid $myColor;
			transition: $transition;
			font-size: 15px;
			font-weight: bold;

			&:hover{
				background:none;
				span, i{
					color: $myColor;
				}
			}
		}
		.formContact {
			
			
			h3 {
				font-weight: bold;
				color: #323A45;
				border-bottom: 2px solid $myColor;
				padding-bottom: 15px;
				letter-spacing: 1px;
			}
			ul {
				list-style: none;
				padding: 0;
				li {
					padding-top: 10px;
					span {
						vertical-align: top;
					}
					div {
						width: 85%;
						display: inline-block;
							
							h4 {
							color: gray; 
							margin: 0;
							font-size: 1.15em;
							line-height: 25px;
							}
					}
				}
			}
		}
		.md4Box {
					border:1px solid lightgray;
				 	padding: 20px 22px;
		    		margin-bottom: 15px;
					 span {
					 	    font-size: 36px;
		    				display: inline-block;
						    padding-right: 25px;
						    border-right: 1px solid #d5d5d5;
						    color: #53b778;
						    line-height: 50px;
						    margin-bottom: 5px;
					 }
					 div {
					 	display: inline-block;
		    			margin-left: 21px;
					 }
					 h6{
					 	font-size: 24px;
		   				font-weight: 600;
		    			color: #606060;
		    			margin:0;
		    			@media screen and (max-width:767px){
							font-size: 20px;
						}
					} 
					 p{
					 	font-size: 16px;
		   				color: #606060;
		    			line-height: 26px;
		    			@media screen and (max-width:767px){
							font-size: 14px;
						}
					}
					 ul {
					 	padding:0;
					 	margin:14px 0px;
					 	 li{
					 	 	list-style: none;
					 	 	display: inline-block;
					 	 	border-radius:50%;
					 	 	background:lightgray;
					 	 	padding: 8px 11px;
					 	 	margin-right: 8px;
					 	 	cursor: pointer;

					 	 	&:hover {
					 	 			background: $myColor;
					 	 		}

					 	 	a {
					 	 		i {
					 	 			color:white;
					 	 			font-size: 22px;
					 	 		}
					 	 		.fa-facebook {padding:0px 3px;}

					 	 	}
					 	 }
					 }
			}
}
}

#scrollBtn{
	text-align:center;

	.topBtn{
		padding: 15px 15px 15px 15px;
 	   background: white;
  	  box-shadow: 0px 0px 7px lightgrey;
  	  border-radius: 50%;
  	  position: relative;
  	  z-index: 1;
  	  top: 25px;
		&:hover {
			text-decoration: none;
		}

		span {
			line-height: 50px;
		}
	}
}
#sign {
	width:$myWidthHeight;
	position: relative;
	background:#323a45;
	padding:40px 0;


	.container{

		h2 {
			color:white;
			margin-bottom:40px;
		}
		input {
			width: 90%;
			height: 40px;
			outline: none;
			border:none;
			padding-left:8px;

		}
		
			.col-md-4 {
				div {
				padding:5px;
				background:white;
				margin-bottom:20px;

					input {
						width: 90%;
						height: 40px;
						outline: none;
						border:none;
						padding-left:8px;
					}
					span{
						font-size: 17px;
					}
					
					}
				
				.signBtn{
					width: 100%;
					height: 50px;
					background:$myColor;
					border:2px solid $myColor;
					outline: none;
					color: white;
					font-weight: bold;
					transition: $transition;
						&:hover{
							background:none;
							color: $myColor;

						}
					}
			}
		
		}
	h4{
		margin-top:40px
	}
}

#footer {
	width: $myWidthHeight;
	padding: 50px 0;
	background: #EAEAEA;
	
	img {
		padding: 10px 0;
	}

	h4 {
		color: #787878;
	}

	ul {
		padding: 0;
		li {
			list-style-type: none;
			line-height: 30px;
			color: #B6B6B6;
			a {
				color: #B6B6B6;
				&:hover {
					text-decoration: none;
					color: $myColor;
				}
			}
		}
	}
	.socialIcon {
		li {
			
			a {
				margin-right: 10px;
				width: 30px;
				height: 30px;
				background: lightgray;
				border-radius: 50px;
				float: left;
				color: white;
				font-size: 1.2em;
				transition: $transition;
				
			 		&:hover {
			 			color: white;
			 			background: $myColor;
			 		}
		 	}
		}
	}
}
#banner{
	width:100%;
	overflow:hidden;
	background: url(../image/portfolio-banner.jpg);
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

.banner-txt{
	
	padding: 63px 0 93px;
	color: #fff;

	    h1{
			font-size: 60px;
			font-weight: 600;
			margin-bottom: 30px;
	    }
	    p{
	    	font-size: 18px;
	    	font-weight: 600;
	    	margin-bottom:30px;
	    }
	    button{
	    	padding:7px 15px;
	    	background:none;
	    	border:2px solid #53b778;
	    	font-size: 14px;
	    	font-weight: bold;
	    	transition: $transition;
	    	line-height: 45px;
	    	outline: none;
	    	&:hover{
	    		background:#53b778;
	    	}
	    }
   	}
   	@media screen and (min-width: 767px) and (max-width: 1200px){
		.banner-txt{
			h1 {
				font-size: 38px;
				}
			}
		}
		@media screen and (min-width: 0px) and (max-width: 613px){
		.banner-txt{
			h1 {
				font-size: 30px;
				}
				button{
					width: 100%;
				}
			}
		}
}
#branding{
	width:$myWidthHeight;
	overflow:hidden;
	.container{
		h2{
			color: #53b778;
			font-size: 30px;
    		line-height: 30px;
    		font-weight: 600;
    		padding: 85px 0 0;
    		@media screen and (max-width: 1200px){
   				font-size: 24px;
   			}
		}
		hr{
			width: 100%;
		    border: none;
		    height: 1px;
		    background: url(../image/line.png) repeat-x left center;
		    margin: 15px 0;
		}
		.bradBox{
			margin-top: 40px;
			.borderBrad{
				position:relative;
				border:1px solid lightgray;
				@media screen and (max-width:768px) {
					    margin: 15px auto !important;
						width: 360px;
						height: 489px;
					}
				#firstImg{
					width: 100%;
					@media screen and (max-width:1200px) and (min-width:990px) {
						width: 295px;
						height: 230px;
					}
					@media screen and (max-width:768px) {
						width: 360px;
						height: 280px;
					}
				}
				&:hover .textPad h3 a{
				 color: $myColor;
				}
		
			div{
				img{
				position:absolute;
				right: -1px;
				top: 0;
				}
			}
			.textPad{
			    padding: 25px 29px 29px;
				p{
				font-size: 14px;
    			color: #9d9d9d;
    			line-height: 16px;
    		    margin: 0 0 10px;
			}
			h3{
				a{
					color: #323a45;
	   				line-height: 30px;
	   			    cursor: pointer;
				    text-decoration: none!important;
				    font-weight: 600; 
				    font-size: 24px;
				    transition: 0.5s;
				} 		
			}
			div {
				p{
					margin-bottom: 4px;
				    line-height: 26px;
				    font-size: 16px;
				    margin: 0 0 10px;
				    color: #606060;
				}
			}
			}
			}
		}
	}
}

#featuredBoxs{
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,1);
	position: absolute;
	top:0;
	left:0;
	z-index: 11;
	transition: $transition;
	display: none;


	.featuredBoxItem{	
	margin: 60px auto;
	padding: 30px 30px;
	border: 1px solid lightgray;

	.closeBtn {
					font-size: 2em;
					color: lightgray;
				}

	h4 {
		color: gray; 
		margin: 0;
		font-size: 1.15em;
		line-height: 25px;
	}

	.slider {
		position: relative;
		padding: 15px 0;
		overflow: hidden;
		height: 600px;
		.slideLent {
			position: absolute;
			left: 0;
			width: 300%;
			overflow: hidden;
			img{
				width: 33.33%;
				float: left;
			}
		}
	}
		.col-md-4{
			overflow: hidden;
			img{
				width: 100%;
			}
		}
	

		.formContact {
			padding-top: 10px;
				
			h3 {
				font-weight: bold;
				color: $myColor;
				padding-bottom: 15px;
				letter-spacing: 1px;
			}
			ul {
				list-style: none;
				padding: 0;
				li {
					padding-top: 10px;
					span {
						vertical-align: top;
					}
					div {
						width: 85%;
						display: inline-block;
							
							h4 {
							color: gray; 
							margin: 0;
							font-size: 1.15em;
							line-height: 25px;
							}
					}
				}
			}
		}

			.btnForm{
			padding: 20px;
			margin-top: 30px;
			background: $myColor;
			color: white;
			border: 2px solid $myColor;
			transition: $transition;
			font-size: 15px;
			font-weight: bold;

			&:hover{
				background:none;
				span, i{
					color: $myColor;
				}
			}
		}
}
}

#featured{
	padding:85px 0 0;
	
	h2{
			color: #53b778;
			font-size: 30px;
    		line-height: 30px;
    		font-weight: 600;
    		padding: 85px 0 0;
    		@media screen and (max-width: 1200px){
   				font-size: 24px;
   			}
		}
		hr{
			width: 100%;
		    border: none;
		    height: 1px;
		    background: url(../image/line.png) repeat-x left center;
		    margin: 15px 0;
		}
	

	
	.clickFeat{
		ul {
			text-align: center;
		    margin-top: 50px;
    		margin-bottom: 25px;
    		a{
    			height: 26px;
    			margin-right: 40px;
				color: #606060;
    			font-size: 16px;
    			text-decoration: none;
    			padding-bottom: 5px;
    			cursor: pointer;
    			
    			&:hover {
						background: none;
						color: #7D7D7D;
						border-bottom: 2px solid $myColor;
				}
    			li{
				list-style: none;
				display: inline-block;
				}	

			}
			
		}
	}
	.featured-img{
			
			position:relative;
			margin-bottom: 30px;

		.feat-overlay {
		    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
		    bottom: 0;
		    height: 100%;
		    left: 0;
		    position: absolute;
		    right: 0;
		    text-align: center;
		    top: 0;
		    -webkit-transition: all 0.3s ease 0s;
		    transition: all 0.3s ease 0s;
		    width: 100%;
		    padding-top: 26%;
		    -webkit-transform: scale(0);
		   
			}
			.text-inner{
				position: absolute;
			    top: 42%;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    margin: 0 auto;
			    z-index: 1;
			    a{
			    	text-decoration: none;
			    	background: transparent;
				    line-height: 18px;
				    height: 44px;
				    border-radius: 0;
				    padding: 10px 15px;
				    border: 2px solid #53b778;
				    font-size: 13px;
				    color: white;
				    cursor: pointer;	
				    &:hover{
				    	background: #53b778;
				    	color: white;
				    	border: 2px solid #53b778;
				    }    
			    }
			}
			&:hover .feat-overlay{
				-webkit-transform: scale(1);
		
	    	}

		img{
			width: 100%;
			}
    			
	}


	.discBtn{
		    background: #53b778;
		    border-color: #53b778;
		    display: block;
		    margin: 40px auto;
		    max-width: 360px;
		    width: 100%;
		    height: 50px;
		    padding: 5px 20px;
		    text-align: center;
		    font-weight: bold;
		    font-size: 15px;
		    text-decoration: none;
		    color: white;
			transition: $transition;
			line-height: 40px;

		    &:hover{
		    	background: white;
		    	color: #53b778;
		    	border: 2px solid #53b778;

		    }

	}
}
